<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanglumedia.api.dao.ActsrecommandDao">
    <select id="getAllActsrecommand" resultType="hashmap">
        select * from module_content m,title_module t,recommend_module_relationship r
        where status=1
    </select>
    <select id="findCount" resultType="int">
        select count(*) from ext_booth where status=1
    </select>
    
</mapper>

